<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ProgramName" value="Miner Updater" />
    <add key="IsFirstTime" value="true" />
    <add key="PreExecAppPath" value="cmd.exe" />
    <add key="PreExecAppArgs" value="/C TASKKILL /T /IM NiceHashMinerLegacy.exe" />
    <add key="AppFolder" value="NiceHash/" />
    <add key="AppBackupDirectory" value="_backupfiles/" />
    <add key="AppBackupNamePrefix" value="BACKUP_" />
    <add key="AppUpdateFileName" value="newupdate.zip" />
    <add key="AppUpdateFolderName" value="_updates/" />
    <add key="AppUpdateTempExtractDir" value="_temp/" />
    <add key="AppUserSpecificData" value="internals,configs" />
    <add key="LocalHashFile" value="hash.txt" />
    <add key="ServerHashUrl" value="http://127.0.0.1:8080/update/hash.txt" />
    <add key="ServerUpdateFileUrl" value="http://127.0.0.1:8080/update/newfile.zip" />
    <add key="ExceptionLogFile" value="ExceptionLog.txt" />
    <add key="LaunchProgram" value="NiceHash\\NiceHashMinerLegacy.exe" />
    <add key="LaunchProgramArgs" value="" />
  </appSettings>
</configuration>